header {
	overflow: hidden;
	padding-bottom: 2em;
	background: white;
	h1 {
		margin-top: 1em;
		font-weight: bold;
	}
	h2 {
		font-size: 1.125em;
		margin-top: 8px;
		font-family: $systemSerif;
		@media (max-width: 700px) {
			font-size: 1.15em;
		}
	}
}