html,
body {
	height: 100%;
}
body {
	line-height: 1.25;
	color: $coal;
	background: $superlightgray;
	&.home {
		background: white;
	}
}
a {
	text-decoration: none;
	color: $coal;
	transition: color 0.75s;
}
em {
	font-style: italic;
}
img {
	max-width: 100%;
}
.inner-wrapper {
	margin: 0 auto;
	width: 80%;
}
p {
	margin: 0.5em 0;
}