// CL: Blue Jay Feather
$blackrussian: #1F1F20;
$veniceblue: #2B4C7E;
$havelockblue: #567EBB;
$bluebayou: #606D80;
$solitude: #DCE0E6;

// CL: Fraggle Rock
$candyred: #C32440;
$pinkbaloon: #E84F6B;
$orangebowl: #F99C3C;
$yellowvase: #ECE16E;
$brownpaper: #B69D89;

// CL: Platinum
$flatgray: #454641;
$storm: #5E605B;
$dust: #93968F;
$pavement: #302D24;
$coal: #292920;
$chalk: #F5F5EC;
$superlightgray: #F2F2F2;
$moondust: #DCDCD3;

// CL: Logo
$pinktile: #FFDDCC;
$eraser: #EEAA99;


