.project-page {
	background: $superlightgray;
	padding: 2.5em 0 4em 0;
	h3 {
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
	}
	p {
		width: 70%;
		line-height: 1.45;
		letter-spacing: 0.25px;
		font-family: monospace;
		font-size: 1.05em;
	}
	.site-link {
		clear: left;
		margin-top: 1.75em;
	}
}